@import "../../global.scss";
.place-box {
  padding: 12px 0 8px 20px;
  border-bottom: solid 1px #eaeaea;
  position: relative;
  cursor: pointer;
  & > div {
    text-align: left;
  }
  .orange,
  .yellow {
    width: 130px;
    padding: 8px 8px;
    border-radius: 10px;
    white-space: nowrap;
  }
  .orange {
    background: rgba(#ff973b, 0.2);
    .text {
      color: #ff973b;
    }
  }
  .yellow {
    background: rgba(#ffdb4d, 0.2);
    .text {
      color: #f8be00;
    }
  }
  .triangle {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 24px 24px 0 0;
    &.oranges {
      border-color: #ff973b transparent transparent transparent;
    }
    &.red {
      border-color: #e6541d transparent transparent transparent;
    }
    &.green {
      border-color: #46c657 transparent transparent transparent;
    }
  }
  .no-mask {
    width: 130px;
    padding: 8px 16px;
    border-radius: 10px;
    background: #f9f9f9;
    color: #cccccc;
  }
}