@import "./global.scss";
.App {
  display: flex;
  width: 100%;
  height: 100vh;
  transition-duration: 0.2s;
  .left {
    width: 315px;
    .place-box-wrap {
      height: calc(100vh - 265px);
      position: relative;
      .overflow {
        width: 100%;
        height: 100%;
        overflow-y: auto;
      }
      .no-data {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
      }
      .lg-pic {
       display: none;   
      }
    }
  }
  .right {
    width: calc(100vw - 315px);
    height: 100vh;
  }
}

.relative {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@include phone {
  .App {
    .left {
      background: transparent;
      width: 0;
      .place-box-wrap {
        height: 60%;
        width: 100vw;
        position: fixed;
        z-index: 100000;
        background: white;
        touch-action: auto;
        .lg-pic {
          display: block;
          position: absolute;
          bottom: 100%;
          right: 0;
          z-index: 100000;
        }
      }
    }
    .right {
      width: 100%;
      .leaflet-control {
        margin-top: 60px;
      }
      .leaflet-control-attribution {
        display: none;
      }
    }
  }
}
